.hero {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__images {
  position: relative;
}

.hero__images--orange {
  position: relative;
  z-index: 0;
  background-image: url("../assets/Hero Orange.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hero__images--blue {
  position: absolute;
  z-index: 1;
  background-image: url("../assets/Hero Blue.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  top: 0px;
  clip: rect(0px, 100vw, 100vh, 50vw);
  -webkit-transition: clip 2s;
  transition: clip 2s;
}

.hero__images--blue:hover {
  clip: rect(0px, 100vw, 100vh, 30vw);
  -webkit-transition: clip 2s;
  transition: clip 2s;
}

.hero .hero__images--orange:hover + .hero__images--blue {
  clip: rect(0px, 100vw, 100vh, 70vw);
  -webkit-transition: clip 2s;
  transition: clip 2s;
}

.developer {
  background-color: #08081f;
}

.developer__item--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.portfolio h2 {
  color: white;
  margin: 0px;
}

.portfolio img {
  margin: 5vw;
  width: 80vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 0px 5vw #222222;
          box-shadow: 0px 0px 5vw #222222;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.portfolio img:hover {
  -webkit-box-shadow: 0px 0px 10vw #333333;
          box-shadow: 0px 0px 10vw #333333;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.creator {
  background-color: #1f0500;
}

.creator__item--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details {
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f0f0f;
}

.details img {
  margin: 5vw;
  width: 80vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.details h1, .details h2, .details h3 {
  margin: 0px;
}

.details p {
  margin: 5vw;
}

.details a {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */